# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Data and outputs
*.csv
*.png
*.tif
*.tiff
*.npz

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE settings
.vscode/
.idea/
*.log
.ruff_cache/
.pytest_cache/
.mypy_cache/
*.log